<div id="<%= dom_id board %>">
  <div class="card">
    <h5 class="card-header"><%= board.titulo %></h5>
    <div class="card-body">
      <h6 class="card-title">Post:</h6>
      <p class="card-text"><%= board.post.title %></p>
    </div>
  </div>
</div>
