<div id="<%= dom_id board %>">
  <p>
    <strong>Titulo:</strong>
    <%= board.titulo %>
  </p>

  <p>
    <strong>User:</strong>
    <%= board.user_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= board.post_id %>
  </p>

</div>
