<h1>Nuevo tablero</h1>
<p class="lead" >Crea un tablero para una de tus publicaciones:</p>

<%= render "form", board: @board %>

<br>

<div>
  <%= link_to "Volver a tableros", boards_path, class: "btn btn-secondary mb-4 btn-sm" %>
</div>
