<p style="color: yellow"><%= notice %></p>

<h1 class="display-6 mb-2">Publica tu fotofood</h1>
<%= link_to "Nueva fotofood", new_post_path, class: "btn btn-warning mb-4"  %>

  <div id="posts">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col">
          <%= render post %>
      </div>
    <% end %>
  </div>